@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #FEFCF9;
  color: #636363;
}

main {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  max-width: 1200px;
}

::-webkit-scrollbar {
  display: none;
}
